VITE_SUPABASE_URL=https://qzpcpzfcovhsuvcyrvud.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6cGNwemZjb3Zoc3V2Y3lydnVkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ3MzA0NDksImV4cCI6MjEwMDMwNjQ0OX0.vy2qt5t1CdfsHWIoQCz4_7k6OMbdGVbVAlWvJTg3Dok

